
html, body {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: left;
    display: inline-block;
}

ol {
    cursor: pointer;
}
.padder{
    padding-left: 10px;
}

input {
    height: 20px;
    font-size: 15px;
    font-family: 'Lato';
}
input[type=submit] {
    border: none;
    text-decoration: underline;
    height: 25px;
    background-color: white;
    cursor: pointer;
}
